<header class="main-header">
  <i src="oops.jpg" class="logo">

    <span class="logo-mini">
      <%= image_tag("logos/alexandria_logo3_305x305.png", alt: "Alexandria", width: '50', height: '50') %>
    </span>

    <span class="logo-lg">
    <%= image_tag("logos/alexandria_logo3_1000x200.png", alt: "Alexandria", width: '200', height: '50') %>
  </i>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">


        <% if current_user_admin? %>
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag("icons/stickers/admin_icon_purple_256x256.png", alt: "Admin", width: '24', height: '24') %>
            </a>
          </li>
        <% end %>


        <% if current_user %>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= profile_image_navbar(current_user) %>

              <span class="hidden-xs"><%= current_user.firstname %> <%= current_user.lastname %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <%= profile_image_fullsize(current_user) %>
                <p>
                  <%= current_user.firstname %> <%= current_user.lastname %>
                  <small>Member since <%= current_user.created_at %></small>
                </p>
              </li>

              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to "Profile", current_user, class: "btn btn-success" %>
                </div>
                <div class="pull-right">
                  <%= link_to "Log Out", session_path, method: :delete, class: "btn btn-danger" %>
                </div>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "sign up", signup_path, class: "button" %>
          </li>
          <li>
            <%= link_to "sign in", new_session_path, class: "button" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
