<%= form_for(@book) do |f| %>

  <!-- Book Name -->
  <div class="form-group">
    <%= f.label "Book Title", :class => "" %>
    <% if form_page == "show" %>
      <%= f.text_field :name, autofocus: true, :class => "col-9 form-control", id: 'book-name', disabled: true %>
    <% else %>
      <%= f.text_field :name, autofocus: true, :class => "col-9 form-control", id: 'book-name' %>
    <% end %>
  </div>


  <!-- Book Description -->
  <div class="form-group">
    <%= f.label "Book summary / review", :class => "col-3 col-form-label" %>
    <p>25 character minimum for description</p>
    <% if form_page == "show" %>
      <%= f.text_area :description, rows: 7, :class => "col-9 form-control", id: 'book-description', disabled: true %>
    <% else %>
      <%= f.text_area :description, rows: 7, :class => "col-9 form-control", id: 'book-description' %>
    <% end %>

  </div>


  <!-- Is book a chapter book -->
  <div class="form-group">
    <%= f.label "Is book a chapter book", :class => "col-3 col-form-label"%>
    <!-- <%= f.text_field :chapter, :class => "col-9 form-control"%> -->
    <% if form_page == "show" %>
      <%= f.select :chapter, ['false', 'true'], :class => "col-9", id: 'book-is-chapter-book', disabled: true %>
    <% else %>
      <%= f.select :chapter, ['false', 'true'], :class => "col-9", id: 'book-is-chapter-book' %>
    <% end %>

  </div>


  <!-- Is book part of a series -->
  <div class="form-group">
    <%= f.label "Is the book part of a series", :class => "col-3 col-form-label"%>
    <!-- <%= f.text_field :part_of_series, :class => "col-9 form-control"%> -->
    <% if form_page == "show" %>
      <%= f.select :part_of_series, ['false', 'true'], :class => "col-9", id: 'book-is-part-of-series', disabled: true %>
    <% else %>
      <%= f.select :part_of_series, ['false', 'true'], :class => "col-9", id: 'book-is-part-of-series' %>
    <% end %>

  </div>


  <!-- Date started reading book -->
  <div class="form-group">
    <%= f.label "Date you started reading", :class => "col-3 col-form-label"%>
    <% if form_page == "show" %>
      <%= f.date_field :date_start, :class => "col-9 form-control", id: 'book-date-start-reading', disabled: true %>
    <% else %>
      <%= f.date_field :date_start, :class => "col-9 form-control", id: 'book-date-start-reading' %>
    <% end %>

  </div>


  <!-- Date ended reading book -->
  <div class="form-group">
    <%= f.label "Date you finished the book", :class => "col-3 col-form-label"%>
    <% if form_page == "show" %>
      <%= f.date_field :date_end, :class => "col-9 form-control", id: 'book-date-end', disabled: true %>
    <% else %>
      <%= f.date_field :date_end, :class => "col-9 form-control", id: 'book-date-end' %>
    <% end %>

  </div>


  <!-- Has reward been paid out -->
  <div class="form-group">
    <%= f.label "Has been been paid out", :class => "col-3 col-form-label"%>
    <!-- <%= f.text_field :paid, :class => "col-9 form-control"%> -->
    <% if form_page == "show" %>
      <%= f.select :paid, ['false', 'true'], :class => "col-9", id: 'book-paid-out', disabled: true %>
    <% else %>
      <%= f.select :paid, ['false', 'true'], :class => "col-9", id: 'book-paid-out' %>
    <% end %>

  </div>


  <% if form_page == "show" %>
    <!-- Navigation Buttons -->
    <div class="btn-group">
      <!-- button to edit entry -->
      <%= link_to "Edit Book", edit_book_path(@book), :class => "btn btn-success" %>

      <!-- button to go back to 'all books' -->
      <%= link_to "All Books", books_path, :class => "btn btn-primary" %>

      <!-- button to delete -->
      <%= link_to "Delete", book_path(@book), method: :delete,
                  data: {confirm:  "Are you sure?"},
                  :class => "btn btn-danger" %>
    </div>
  <% else %>
    <!-- Navigation Buttons -->
    <div class="btn-group">

      <%= f.submit :class => "btn btn-primary", id: 'button-submit' %>


      <!-- button to cancel editing entry -->
      <%= link_to "Cancel", books_path, :class => "btn btn-default", id: 'button-cancel' %>

    </div>
    <!-- End Navigation Buttons -->
  <% end %>

<% end %>