<%= render 'header' %>

<body>


<div class="wrapper">
  <!-- Top Navbar -->
  <%= render 'navbar' %>
  <!-- End top navbar -->



  <!-- Page content -->
  <nav id="content">
    <!-- Main page section -->
    <div class="container">

      <!-- Heading row -->
      <div class="row">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4" style="padding-top: 10px;" >
          <%= link_to "Add Book", new_book_path, :class => "btn btn-outline-success float-right" %>
        </div>
      </div>
      <!-- End heading row -->



      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-reading-tab" data-toggle="tab" href="#nav-reading" role="tab" aria-controls="nav-reading" aria-selected="true">Books I'm Reading</a>
          <a class="nav-item nav-link" id="nav-completed-tab" data-toggle="tab" href="#nav-completed" role="tab" aria-controls="nav-completed" aria-selected="false">Books I've Read</a>
          <a class="nav-item nav-link" id="nav-allbooks-tab" data-toggle="tab" href="#nav-allbooks" role="tab" aria-controls="nav-allbooks" aria-selected="false">All Books</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-reading" role="tabpanel" aria-labelledby="nav-reading-tab">
          <%= render 'reading_list' %>
        </div>


        <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
          <%= render 'reading_list' %>
        </div>


        <div class="tab-pane fade" id="nav-allbooks" role="tabpanel" aria-labelledby="nav-allbooks-tab">
          <%= render 'reading_list' %>
        </div>
      </div>




    </div>

    <!-- End Page Content -->



  </nav>


</body>

