<%= render 'header' %>


<body>


<div class="wrapper">
  <!-- Top Navbar -->
  <%= render 'navbar' %>
  <!-- End top navbar -->



  <!-- Page content -->
  <nav id="content">
    <!-- Main page section -->
    <div class="container">

      <!-- header block -->
      <div class="row">

        <!-- Header Information -->
        <div class="col-9">
          <h1>Book Information for <%= @book.name %></h1>
        </div>

        <!-- Book badges -->
        <div class="col-3">
          <!-- fill this in later when we have more information -->

        </div>
      </div>

      <%= form_for(@book) do |f| %>

        <!-- Book Name -->
        <div class="form-group row">
          <%= f.label "Book Title", :class => "col-3 col-form-label"%>
          <%= f.text_field :name, :class => "col-9 form-control", disabled: true %>
        </div>


        <!-- Book Description -->
        <div class="form-group row">
          <%= f.label "Book summary / review", :class => "col-3 col-form-label"%>
          <%= f.text_area :description, rows: 7, :class => "col-9 form-control", disabled: true %>
        </div>


        <!-- Is book a chapter book -->
        <div class="form-group row">
          <%= f.label "Is book a chapter book", :class => "col-3 col-form-label"%>
          <!-- <%= f.text_field :chapter, :class => "col-9 form-control"%> -->
          <%= f.select :chapter, ['false', 'true'], :class => "col-9", disabled: true %>
        </div>


        <!-- Is book part of a series -->
        <div class="form-group row">
          <%= f.label "Is the book part of a series", :class => "col-3 col-form-label"%>
          <!-- <%= f.text_field :part_of_series, :class => "col-9 form-control"%> -->
          <%= f.select :part_of_series, ['false', 'true'], :class => "col-9", disabled: true %>
        </div>


        <!-- Date started reading book -->
        <div class="form-group row">
          <%= f.label "Date you started reading", :class => "col-3 col-form-label"%>
          <%= f.date_field :date_start, :class => "col-9 form-control", disabled: true %>
        </div>


        <!-- Date ended reading book -->
        <div class="form-group row">
          <%= f.label "Date you finished the book", :class => "col-3 col-form-label"%>
          <%= f.date_field :date_end, :class => "col-9 form-control", disabled: true %>
        </div>


        <!-- Has reward been paid out -->
        <div class="form-group row">
          <%= f.label "Has been been paid out", :class => "col-3 col-form-label"%>
          <!-- <%= f.text_field :paid, :class => "col-9 form-control"%> -->
          <%= f.select :paid, ['false', 'true'], :class => "col-9", disabled: true %>
        </div>



        <!-- Navigation Buttons -->
        <div class="btn-group">
          <!-- button to edit entry -->
          <%= link_to "Edit Book", edit_book_path(@book), :class => "btn btn-outline-success" %>

          <!-- button to go back to 'all books' -->
          <%= link_to "All Books", books_path, :class => "btn btn-outline-primary" %>

          <!-- button to delete -->
          <%= link_to "Delete", book_path(@book), method: :delete,
                      data: {confirm:  "Are you sure?"},
                      :class => "btn btn-outline-danger" %>
        </div>

      <!-- End Navigation Buttons -->

      <% end %>






      <!-- here for historical reference -->
      <!-- original way I'd thought to make this happen -- makes the buttons larger!  -->
      <!-- <div class="btn btn-primary"> -->
      <!--   <%= link_to "Edit", edit_book_path(@book), :style => 'color:white;', :class => "btn btn-primary" %> -->
      <!-- </div> -->
      <!--  -->
      <!-- <div class="btn btn-primary"> -->
      <!--   <%= link_to "All Books", books_path, :style => 'color:white;', :class => "btn" %> -->
      <!-- </div> -->

      <!-- end historical reference -->

    </div>
    <!-- End Page Content -->




  </nav>





</body>

